.contact {
  padding: 80px 60px;
  color: white;
  background: linear-gradient(120deg, #020024, #090979, #020024);
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.title span {
  color: #00c6ff;
}

.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT INFO */
.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info h2 {
  color: #00c6ff;
}

.contact-info p {
  margin: 10px 0;
  opacity: 0.8;
}

/* FORM */
.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* INPUTS */
.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #ccc;
  font-size: 14px;
  font-family: Quicksand;
}

/* BUTTON */
.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  transform: scale(1.05);
}

/* MOBILE */
@media (max-width: 768px) {
  .contact {
    padding: 50px 20px;
  }

  .contact-container {
    flex-direction: column;
  }
}